<div class="yui-gb">
  <div class="yui-u first" style="width: 380px;">
    <% f.field_container :code do %>
      <%= f.label :code, t("code") %> <span class="required">*</span><br />
      <%= f.text_field :code, :class => 'title'  %>
      <%= f.error_message_on :code %>
    <% end %>
    
    <% f.field_container :discount_type do %>
      <%= f.label :discount_type, t("type") %> <span class="required">*</span><br />
      <%= f.select :discount_type, DiscountCode.type_options, {}, :style => 'font-size: 1.5em; text-transform: capitalize;'  %>
      <%= f.error_message_on :discount_type %>
    <% end %>

    <% f.field_container :discount_rate do %>
      <%= f.label :discount_rate, t("discount_rate") %> <span class="required">*</span><br />
      <%= f.text_field :discount_rate, :class => 'title'  %>
      <%= f.error_message_on :discount_rate %>
    <% end %>

    <% f.field_container :commission_rate do %>
      <%= f.label :commission_rate, t("commission_rate") %> <br />
      <%= f.text_field :commission_rate, :class => 'title'  %>
      <%= f.error_message_on :commission_rate %>
    <% end %>
  </div>
  
  <div class="yui-u" style="width: 380px;">
    <% f.field_container :comments do %>
      <%= f.label :comments, t("comments")%> <span class="required">*</span><br />
      <%= f.text_field :comments, :class => "title" %>
      <%= f.error_message_on :comments%>
    <% end %>
    
    <p>
      <%= f.label :available_on, t("available_on") %><br />
      <%= f.error_message_on :available_on %>
      <%= calendar_date_select :discount_code, :available_on, :style=>"width:150px" %>
    </p>
  
    <p>
      <%= f.label :expires_on, t("expires_on") %><br />
      <%= f.error_message_on :expires_on %>
      <%= calendar_date_select :discount_code, :expires_on, :style=> "width:150px" %>
    </p>
  </div>
</div>